@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #e62c36;
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .dark h1 h2 h3 p {
    color: white;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
  #fon {
    background: rgb(237, 254, 7);
    background: linear-gradient(
      175deg,
      rgba(237, 254, 7, 1) 0%,
      rgba(2, 28, 241, 1) 60%
    );
  }
  #block {
    animation-name: bg;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    background: linear-gradient(
      350deg,
      rgba(237, 254, 7, 1) 0%,
      rgba(2, 28, 241, 1) 60%
    );
  }
  @keyframes bg {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
