@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #e62c36;
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  .dark h1 h2 h3 p {
    color: white;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 16px;
  }
}
